<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Title</title>
</head>
<body>
{{{body}}}
<script src="/bundle.js"></script>
<script>
    MyVue.bootstrap({
        {{#each context}}
            {{@key}}: '{{this}}',
        {{/each}}
    });
</script>
</body>
</html>